/dts-v1/;
#include "mt7981.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "SL3000 eMMC";
	compatible = "sl,sl3000", "mediatek,mt7981";

	aliases {
		serial0 = &uart0;
		led-boot = &led_status;
		led-failsafe = &led_status;
		led-running = &led_status;
		led-upgrade = &led_status;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "console=ttyS0,115200n8 root=/dev/mmcblk0p2 rootwait rw";
	};

	// 这里用 512MB 救砖稳定版
	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0 0x20000000>;
	};

	leds {
		compatible = "gpio-leds";
		led_status: status {
			label = "green:status";
			gpios = <&pio 11 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

	keys {
		compatible = "gpio-keys";
		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&pio 1 GPIO_ACTIVE_LOW>;
			debounce-interval = <20>;
			wakeup-source;
		};
	};
};

&uart0 { status = "okay"; };
&watchdog { status = "okay"; };

&eth {
	status = "okay";
	gmac0: mac@0 {
		reg = <0>;
		phy-mode = "2500base-x";
		fixed-link {
			speed = <2500>;
			full-duplex;
		};
	};
};

&mmc0 {
	status = "okay";
	bus-width = <8>;
	max-frequency = <20000000>;       // 已修正为稳定频率
	non-removable;
	cap-mmc-highspeed;
	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_1p8v>;
};

&spi0 {
	status = "disabled";
};

&reg_3p3v {
	compatible = "regulator-fixed";
	regulator-name = "3P3V";
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-always-on;
};

&reg_1p8v {
	compatible = "regulator-fixed";
	regulator-name = "1P8V";
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};
