/dts-v1/;
#include "mt7981.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "Siluo SL3000 (1GB DDR4, 32MB SPI-NOR Rescue)";
	compatible = "siluo,sl3000-spi-nor", "mediatek,mt7981";

	aliases {
		serial0 = &uart0;
		led-boot = &status_green_led;
		led-failsafe = &status_red_led;
		led-running = &status_green_led;
		led-upgrade = &status_blue_led;
		label-mac-device = &gmac0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "console=ttyS0,115200n1 earlycon=uart8250,mmio32,0x11002000";
	};

	/* 1GB DDR4 */
	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0x0 0x40000000>;
	};

	/* 稳压器 */
	reg_1p8v: regulator-1p8v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	reg_3p3v: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	leds {
		compatible = "gpio-leds";

		status_red_led: status-red {
			label = "red:status";
			gpios = <&pio 10 GPIO_ACTIVE_LOW>;
		};

		status_green_led: status-green {
			label = "green:status";
			gpios = <&pio 11 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};

		status_blue_led: status-blue {
			label = "blue:status";
			gpios = <&pio 12 GPIO_ACTIVE_LOW>;
		};
	};

	keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&pio 1 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};
	};
};

/* SPI-NOR 完整分区表（与 U-Boot 对齐，含 Product/Custom） */
&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_flash_pins>;
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <52000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "BL2";
				reg = <0x000000 0x100000>;
				read-only;
			};

			partition@100000 {
				label = "u-boot-env";
				reg = <0x100000 0x10000>;
			};

			partition@110000 {
				label = "Config";
				reg = <0x110000 0x70000>;
				read-only;
			};

			partition@180000 {
				label = "Factory";
				reg = <0x180000 0x200000>;
				read-only;
			};

			partition@380000 {
				label = "FIP";
				reg = <0x380000 0x200000>;
				read-only;
			};

			/* firmware 分区 25MB，与 initramfs 镜像大小匹配 */
			partition@580000 {
				label = "firmware";
				reg = <0x580000 0x1900000>;
			};

			/* 原厂额外分区，救砖时保留 */
			partition@1e80000 {
				label = "Product";
				reg = <0x1e80000 0x20000>;
				read-only;
			};

			partition@1ea0000 {
				label = "Custom";
				reg = <0x1ea0000 0x160000>;
			};
		};
	};
};

/* eMMC 启用，并补全 UHS 引脚配置 */
&mmc0 {
	status = "okay";
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc0_pins_default>;
	pinctrl-1 = <&mmc0_pins_uhs>;
	bus-width = <8>;
	max-frequency = <52000000>;
	cap-mmc-highspeed;
	cap-mmc-hw-reset;
	mmc-hs200-1_8v;
	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_1p8v>;
	non-removable;
	no-sd;
	no-sdio;
};

/* 网络：MT7531 交换机 + 2.5G 上联 */
&eth {
	status = "okay";

	gmac0: mac@0 {
		compatible = "mediatek,eth-mac";
		reg = <0>;
		phy-mode = "2500base-x";
		fixed-link {
			speed = <2500>;
			full-duplex;
			pause;
		};
	};

	mdio: mdio-bus {
		#address-cells = <1>;
		#size-cells = <0>;

		switch@0 {
			compatible = "mediatek,mt7531";
			reg = <31>;
			reset-gpios = <&pio 39 GPIO_ACTIVE_LOW>;
			reset-delay-us = <10000>;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 { reg = <0>; label = "lan1"; };
				port@1 { reg = <1>; label = "lan2"; };
				port@2 { reg = <2>; label = "lan3"; };
				port@3 { reg = <3>; label = "wan"; };

				port@6 {
					reg = <6>;
					label = "cpu";
					ethernet = <&gmac0>;
					phy-mode = "2500base-x";
					fixed-link {
						speed = <2500>;
						full-duplex;
						pause;
					};
				};
			};
		};
	};
};

/* 禁用 USB（设备无 USB 口） */
&usb_phy { status = "disabled"; };
&xhci { status = "disabled"; };

&pio {
	spi0_flash_pins: spi0-pins {
		mux {
			function = "spi";
			groups = "spi0", "spi0_wp_hold";
		};
		conf-pu {
			pins = "SPI0_CS", "SPI0_HOLD", "SPI0_WP";
			bias-pull-up;
			drive-strength = <MTK_DRIVE_8mA>;
		};
		conf-pd {
			pins = "SPI0_CLK", "SPI0_MOSI", "SPI0_MISO";
			drive-strength = <MTK_DRIVE_8mA>;
		};
	};

	mmc0_pins_default: mmc0-pins-default {
		mux {
			function = "flash";
			groups = "emmc_45";
		};
		conf-pu {
			pins = "EMMC_RSTB";
			bias-pull-up;
		};
	};

	mmc0_pins_uhs: mmc0-pins-uhs {
		mux {
			function = "flash";
			groups = "emmc_45";
		};
		conf-cmd-dat {
			pins = "EMMC_DAT0", "EMMC_DAT1", "EMMC_DAT2", "EMMC_DAT3",
			       "EMMC_DAT4", "EMMC_DAT5", "EMMC_DAT6", "EMMC_DAT7", "EMMC_CMD";
			input-enable;
			bias-pull-up;
			drive-strength = <MTK_DRIVE_8mA>;
		};
		conf-clk {
			pins = "EMMC_CK";
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-down;
		};
		conf-rst {
			pins = "EMMC_RSTB";
			bias-pull-up;
		};
	};
};

&uart0 { status = "okay"; };
&watchdog { status = "okay"; };

&reg_3p3v { status = "okay"; };
&reg_1p8v { status = "okay"; };
