CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_sl_3000-spi-nor=y

CONFIG_PACKAGE_kmod-spi-mtk-v2=y
CONFIG_PACKAGE_kmod-spi-dev=y
CONFIG_PACKAGE_kmod-mtd-rw=y
CONFIG_MTD_SPI_NOR=y
CONFIG_MTD_SPLIT_FIRMWARE=y
CONFIG_MTD_CMDLINE_PARTS=y

CONFIG_PACKAGE_kmod-mt7981-firmware=y
CONFIG_PACKAGE_kmod-mt7531=y
CONFIG_PACKAGE_kmod-mt7981-eth=y

CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_iputils-ping=y
CONFIG_PACKAGE_dropbear=y

CONFIG_PACKAGE_uboot-envtools=y
CONFIG_PACKAGE_uboot-envtools-mtk=y
CONFIG_PACKAGE_ttyd=y

CONFIG_PACKAGE_autocore-arm=y
CONFIG_PACKAGE_bash=y

CONFIG_DEVEL=y
CONFIG_AUTOREBUILD=y
CONFIG_BUILD_LOG=y
