// SPDX-License-Identifier: GPL-2.0
/*
 * SL3000 1024M DDR4 Physical Adaptation Version
 * Target: SPI-NOR Rescue Build (256KB BL2 Offset)
 */

/dts-v1/;
#include "mt7981.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	model = "SL-3000 eMMC (1G RAM)";
	compatible = "mediatek,mt7981", "mediatek,mt7981-rfb";

	chosen {
		stdout-path = &uart0;
		tick-timer = &timer0;
	};

	/* 物理锁定：1024MB (1GB) 内存寻址空间 */
	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x40000000>;
	};
};

&uart0 {
	status = "okay";
};

&eth {
	status = "okay";
	mediatek,gmac-id = <0>;
	phy-mode = "2500base-x";
	mediatek,switch = "auto";
	reset-gpios = <&pio 39 GPIO_ACTIVE_HIGH>;

	fixed-link {
		speed = <2500>;
		full-duplex;
	};
};

/* 物理锁定：SPI0 挂载 SPI-NOR (救砖核心通道) */
&spi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi_flash_pins>;
	status = "okay";
	must_tx;
	enhance_timing;
	dma_ext;
	ipm_design;
	support_quad;
	tick_dly = <2>;
	sample_sel = <0>;

	spi_nor@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <52000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;

		/* 像素级分区对齐：确保 U-Boot 逻辑与物理 dd 指令同步 */
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "bl2";
				reg = <0x000000 0x040000>; /* 256KB，对齐 dd seek=512 */
			};

			partition@40000 {
				label = "fip";
				reg = <0x040000 0x080000>; /* 512KB，存放 U-Boot+BL31 */
			};

			partition@c0000 {
				label = "u-boot-env";
				reg = <0x0c0000 0x010000>; /* 64KB，环境变量区 */
			};

			partition@d0000 {
				label = "factory";
				reg = <0x0d0000 0x0b0000>; /* 704KB，工厂无线数据 */
			};

			partition@180000 {
				label = "firmware";
				reg = <0x180000 0x1e80000>; /* 剩余空间给系统 */
			};
		};
	};
};

&pio {
	spi_flash_pins: spi0-pins-func-1 {
		mux {
			function = "flash";
			groups = "spi0", "spi0_wp_hold";
		};

		conf-pu {
			pins = "SPI0_CS", "SPI0_HOLD", "SPI0_WP";
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_11>;
		};

		conf-pd {
			pins = "SPI0_CLK", "SPI0_MOSI", "SPI0_MISO";
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_11>;
		};
	};
};

&watchdog {
	status = "disabled";
};
